.board {
    position: absolute;
    overflow: hidden;
}

.square {
    position: absolute;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: burlywood;
    overflow: hidden;
}

.stone {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.white {
    background-color: white;
    opacity: 1;
}

.black {
    background-color: black;
    opacity: 1;
}

.blank {
    background-color: grey;
    opacity: 1;
}